#layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 900px;
    border: solid 1px tomato;
    background-color: #fafafa;
    box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.3);
}